//
   Created by Enrique on 08/03/2017.

extends layout_main
block content
    div.row(style="margin-top:6%")
        div.container
            div.col.s12.m10.l10.push-l1.push-m1
                div.center.center-align
                    h4 #{user}
                div.card.logCard
                    div.card-content
                        div.row
                            p(for="icon_prefix",class="center center-align") Contraseña
                            div.input-field.col.s6.m6.l6.push-m3.push-l3
                                i.material-icons.prefix https
                                input#password_1.validate(type="password",name="password_1")
                        div.row
                            p(for="icon_prefix",class="center center-align") Repita Contraseña
                                div.input-field.col.s6.m6.l6.push-m3.push-l3
                                    i.material-icons.prefix https
                                    input#password_2.validate(type="password",name="password_2")
                        div.row
                            a#edit_user.btn(href="#",type='button') Editar